.box_boxContainer{
    height: 100vh;
    padding: 0px !important; 
}

.box_inputContainer{
    height: 100%;
    display: table;
    text-align: center;
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.spanVertical{
    display: table-cell;
    vertical-align: middle;
}

 .box_sideImage{
     height: 100%;
     padding: 0px !important;
     background-color: rgb(88, 86, 86);
 }